* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  line-height: 1.6;
  color: #333;
}

/* NAVBAR */
header {
  background: #111;
  padding: 15px 0;
}

.navbar {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.nav-links a:hover {
  color: #00adb5;
}

/* HERO */
.hero {
  height: 90vh;
  background: linear-gradient(to right, #00adb5, #393e46);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h2 {
  font-size: 40px;
}

.hero span {
  color: #ffd369;
}

.hero p {
  margin: 15px 0;
  font-size: 18px;
}

.btn {
  background: #ffd369;
  color: #000;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.btn:hover {
  background: #ffbe33;
}

/* SECTIONS */
.section {
  padding: 60px 10%;
}

.section h2 {
  margin-bottom: 20px;
  font-size: 28px;
}

.section.light {
  background: #f4f4f4;
}

/* SKILLS */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 15px;
}

.skill {
  background: #00adb5;
  color: #fff;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
}

/* PROJECTS */
.project {
  margin-bottom: 20px;
  padding: 15px;
  border-left: 5px solid #00adb5;
  background: #fafafa;
}

/* CONTACT */
#contact a {
  color: #00adb5;
  text-decoration: none;
}

/* FOOTER */
footer {
  background: #111;
  color: #fff;
  text-align: center;
  padding: 15px 0;
}
